workflows:
  - &build_workflow
    name: bazel CI
    on:
      push:
        branches:
          - main
      pull_request:
        branches:
          - "**"
    steps:
      - name: Create gitops PRs
        run: | #multiline command
          ls
